.TextButton {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: #0077ff;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.TextButton:hover {
  text-decoration: underline;
}

.TextButton:focus,
.TextButton:focus-visible {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
