.searchTourForm {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 250px;
  gap: 18px;
}

@media (max-width: 639px) {
  .searchTourForm {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
  }
}
