.TextWithSkeleton {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
}

.TextWithSkeleton__skeleton {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background: linear-gradient(90deg, #e5e5e5 0%, #f0f0f0 50%, #e5e5e5 100%);
  background-size: 200% 100%;
  animation: textLoading 1.2s infinite;
}

.TextWithSkeleton__text {
  opacity: 0;
  animation: fadeIn .3s forwards;
  white-space: nowrap;
}

.TextWithSkeleton__text--title {
  font-weight: bold;
}

@keyframes fadeIn {
  to { opacity: 1; }
}

@keyframes textLoading {
  0%   { background-position: 200% 0; }
  100% { background-position: -200% 0; }
}
